.login-container {
    min-height: calc(100vh - 310px);
    width: 450px;
}

.custom-form {
    padding: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.primary-color {
    color: #F99C2E;
}

.form-title {
    color: #F99C2E;
    text-align: center;
}

.custom-form input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 2px solid #F99C2E;
    outline: 0;
    font-size: 18px;
}

.submit-btn {
    border: 0;
    outline: 0;
    width: 100%;
    background-color: #F99C2E;
    color: #fff;
    padding: 8px 16px;
    border-radius: 25px;
    transition: .3s;
}

.submit-btn:hover {
    background-color: #ff7300;
}

@media screen and (max-width: 768px) {
    .login-container {
        width: 100%;
    }
}