.custom-navbar {
    background-color: #fff;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
}

.custom-navbar a {
    color: #000 !important;
    border: 2px solid #fff;
    padding: 3px 0;
    margin-right: 20px;
    text-decoration: none;
}

.custom-navbar a:hover {
    border-bottom: 2px solid #F99C2E !important;
}