.custom-navbar {
    background-color: #212529;
    box-sizing: border-box;
    width: 100%;
}

.custom-navbar a {
    color: #fff !important;
    border: 2px solid #212529;
    margin-right: 20px;
}

.custom-navbar a:hover {
    border-bottom: 2px solid #F99C2E;
}