.footer {
    background-color: #0D0E10;
    min-height: 250px;
    color: #fff;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.social {
    height: 250px;
}

.copyright h2 {
    font-family: 'Poppins', sans-serif;
}

.footer-social li{
    list-style: none;
    cursor: pointer;
    margin-bottom: 5px;
}

.footer-social li a {
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #0D0E10;
}

.footer-social li a:hover {
    border-bottom: 2px solid #F99C2E;
}

@media screen and (max-width: 768px) {
    .copyright, .social {
        height: auto;
        margin: 25px 0;
    }
}