.blogs-container {
    min-height: calc(100vh - 310px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog {
    box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    margin: 20px;
    padding: 15px 20px;
    transition: all .3s ease-in-out;
    border-bottom: 5px solid #F99C2E;
}

.blog:hover {
    transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
    .blogs-container {
        grid-template-columns: 1fr;
    }
}