.benefits-section {
    min-height: 110vh;
    background-image: url('../../../images/gym.jpg');
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    background-position: center;
}

.benefit-title {
    text-align: center;
    padding-top: 80px;
    font-size: 3rem;
    color: #fff;
    font-style: italic;
    padding-bottom: 40px;
}

.benefit-card-team, .benefit-card-gym {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-card-team {
    margin-bottom: 40px;
}

.benefit-card-gym {
    padding-bottom: 20px;
}

.benefits h2, .benefits p {
    color: white;
    margin: 0 20px;
}

.benefits img {
    width: 500px;
    border-radius: 10px;
}

.benefits h2 {
    text-align: center;
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .benefits-section {
        background-image: none;
        background-color: #fff;
        background-blend-mode: normal;
    }
    .benefit-card-team, .benefit-card-gym {
        flex-direction: column;
    }
    .benefit-title {
        font-size: 2.5rem;
        color: #333;
        padding-top: 0;
    }
    .benefits h2, .benefits p {
        color: #333;
        font-size: 22px;
        margin: 10px 0;
    }
    .benefit-card-gym .free {
        order: 3;
        margin-bottom: 0;
    }
}