.benefits-section {
    min-height: 110vh;
    background-image: url('../../../images/gym.jpg');
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: overlay;
    background-position: center;
}

.benefit-title {
    text-align: center;
    padding-top: 120px;
    box-sizing: border-box;
    font-size: 4rem;
    color: #fff;
    text-shadow: 1px 0px 1px #242B2E, 0px 1px 1px #333, 2px 1px 1px #242B2E,
        1px 2px 1px #333, 3px 2px 1px #242B2E, 2px 3px 1px #333,
        4px 3px 1px #242B2E, 3px 4px 1px #333, 5px 4px 1px #242B2E,
        4px 5px 1px #333, 6px 5px 1px #242B2E, 5px 6px 1px #333,
        7px 6px 1px #242B2E;
}

.benefits {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-card {
    box-shadow: 20px 10px #fff;
}

.benefits img {
    width: 500px;
}

.benefits h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 2.5rem;
}